#background {
	background-image: url(../images/pexels-burak-başgöze-17057297.jpg);
	background-size: cover;
	background-position: center;
}

#titleLeft {
	position: absolute;
  top: 85px;
  left: 25px;
  font-size: 25px;
}

#tagLeft {
	position: absolute;
  left: 16px;
  font-size: 18px;
	text-align: center;
	font-style: italic;
}

#services {
	margin-left: 150px;
}

#sidePic {
	border-radius: 10%;
	max-width: 75%;
	max-height: 75%;
}

.footer {
	background-color: rgb(0,209,178);
}